In [1]:
import pandas as pd
import psycopg2

In [2]:
def create_db():
    """
        This function create a database a setup a connection.
        
        Returns:
            conn: psycopg2 connection object
            cur: cursor
    """
    # connect to default database
    # example: conn = psycopg2.connect("host=localhost dbname=bd user=ljpcastroc password=password")
    conn = psycopg2.connect("host=localhost dbname=dmodeldb user=ljpcastroc password=password")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
    cur.execute("DROP   DATABASE IF EXISTS luka")
    cur.execute("CREATE DATABASE luka")
    # close connection to default database
    conn. close()
    conn = psycopg2.connect("host=localhost dbname=luka user=ljpcastroc password=password")
    cur = conn.cursor()
    
    return cur, conn

In [3]:
clients = pd.read_csv("data/data_clientes.csv")
clients.head()

,id,first_name,last_name,email,gender,ip_address,mobile,status,document,document_type,payment
0,1,Kyrstin,Cromblehome,kcromblehome0@jalbum.net,Female,16.67.253.33,306-882-9128,False,3315044325,tt,visa
1,2,Mile,Carlyle,mcarlyle1@vinaora.com,Male,118.149.4.121,130-824-1826,False,707078253,cc,jcb
2,3,Olimpia,Wegman,owegman2@digg.com,Female,89.187.37.34,741-208-9423,True,2134707941,tt,laser
3,4,Kalle,Bohin,kbohin3@ucoz.com,Male,135.162.65.40,891-438-9361,False,3555124161,cc,jcb
4,5,Jehanna,Walworche,jwalworche4@networksolutions.com,Female,29.34.172.170,830-164-9268,False,4194659287,cc,jcb

In [4]:
clients.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address',
       'mobile', 'status', 'document', 'document_type', 'payment'],
      dtype='object')

In [5]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   first_name     1000 non-null   object
 2   last_name      1000 non-null   object
 3   email          1000 non-null   object
 4   gender         1000 non-null   object
 5   ip_address     1000 non-null   object
 6   mobile         1000 non-null   object
 7   status         1000 non-null   bool
 8   document       1000 non-null   int64
 9   document_type  1000 non-null   object
 10  payment        1000 non-null   object
dtypes: bool(1), int64(2), object(8)
memory usage: 79.2+ KB

In [6]:
clients_create_table = ("""CREATE TABLE IF NOT EXISTS clientes (
                            "id" BIGINT NOT NULL,
                            "first_name" VARCHAR(150),
                            "last_name" VARCHAR(150),
                            "email" VARCHAR(150),
                            "gender" VARCHAR(150),
                            "ip_address" VARCHAR(150),
                            "mobile" VARCHAR(150),
                            "status" BOOLEAN,
                            "document" BIGINT,
                            "document_type" VARCHAR(150),
                            "payment" VARCHAR(150)
                            ) WITH (
                            OIDS=FALSE
                        )
                        ;""")

In [7]:
cur, conn = create_db()

In [8]:
cur.execute(clients_create_table)
conn.commit()

In [9]:
def insert_rows(df, query):
    """
    Insert rows in pandas dataframe to a table.
    """
    for i, row in df.iterrows():
        cur.execute(query, list(row))

In [10]:
clients_insert_query = ("""INSERT INTO clientes (
                            id, first_name, last_name, email, gender, ip_address, mobile, status, document, document_type, payment
                           )
                           VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""")

In [11]:
insert_rows(clients, clients_insert_query)

In [13]:
cur.close()
conn.close()